<section class="container">
  <br />
  <div
    fxLayout="row wrap"
    fxLayout.md="row nowrap"
    fxLayout.lg="row nowrap"
    fxLayoutGap="15px"
  >
    <div>
      <h2>
        Gallery
      </h2>
      <div
        fxLayout="row wrap"
        fxLayout.md="row nowrap"
        fxLayout.lg="row nowrap"
        fxLayoutGap="15px"
      >
        <div fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
          <div>
            <img
              class="image"
              title="Gallery One"
              alt="Gallery One"
              src="../../assets/gallery_one.png"
            />
          </div>
        </div>
        <div fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
          <div>
            <img
              class="image"
              title="Gallery Two"
              alt="Gallery Two"
              src="../../assets/gallery_two.png"
            />
          </div>
        </div>
        <div fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
          <div>
            <img
              class="image"
              title="Gallery Three"
              alt="Gallery Three"
              src="../../assets/gallery_three.png"
            />
          </div>
        </div>
        <div fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
          <div>
            <img
              class="image"
              title="Gallery Four"
              alt="Gallery Four"
              src="../../assets/gallery_four.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
