<mat-toolbar>
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      fxShow="true"
      fxHide.gt-sm
    >
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Treat Wisely</h1>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <a routerLink="/" mat-button>Home</a>
      <a routerLink="/about" mat-button>About</a>
      <a routerLink="/contact" mat-button>Contact</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      <a routerLink="/" mat-button>About</a>
      <a routerLink="/about" mat-button>About</a>
      <a routerLink="/contact" mat-button>Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill
    ><ng-content></ng-content
  ></mat-sidenav-content>
</mat-sidenav-container>
