<mat-toolbar>
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      fxShow="true"
      fxHide.gt-sm
    >
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="title">
      <a class="title-link link" routerLink="/">Treat Wisely</a>
    </h1>
    <div class="nav" fxLayout fxShow="true" fxHide.lt-md>
      <a fxFlexAlign="center" routerLink="/about" mat-button>About</a>
      <a fxFlexAlign="center" routerLink="/gallery" mat-button>Gallery</a>
      <a fxFlexAlign="center" routerLink="/contact" mat-button>Contact</a>
      <img
        fxFlexAlign="center"
        fx
        class="logo"
        src="../../assets/treat-wisely.png"
      />
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav class="side-nav" #sidenav>
    <mat-nav-list fxLayout="column" fxLayoutGap="10px">
      <a
        class="side-nav-link"
        (click)="sidenav.toggle()"
        routerLink="/"
        mat-button
        >Home</a
      >
      <a
        class="side-nav-link"
        (click)="sidenav.toggle()"
        routerLink="/about"
        mat-button
        >About</a
      >
      <a
        class="side-nav-link"
        (click)="sidenav.toggle()"
        routerLink="/gallery"
        mat-button
        >Gallery</a
      >
      <a
        class="side-nav-link"
        (click)="sidenav.toggle()"
        routerLink="/contact"
        mat-button
        >Contact</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill
    ><ng-content></ng-content
  ></mat-sidenav-content>
</mat-sidenav-container>
