<section class="container">
  <br />
  <div
    fxLayout="row wrap"
    fxLayout.md="row nowrap"
    fxLayout.lg="row nowrap"
    fxLayoutGap="15px"
  >
    <div fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
      <h2>
        About Us!
      </h2>
      <p>
        We are two friends who joined slimming world together. We wanted to help
        other people on their journeys by offering ready made up treat bags
        containing daily allowance. As many of us struggle on budgeting our
        allowances, we have tried to make it easy for anyone who is short on
        time or just needs the worry taken away.
      </p>
      <p>
        Each bag has treats marked with individual values, and each bag has a
        motivational sticker!
      </p>
    </div>
    <div fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
      <div>
        <img
          class="image"
          title="Image of product - About"
          alt="Image of product - About"
          src="../../assets/about_one.png"
        />
      </div>
    </div>
  </div>
</section>
