<section class="container">
  <br />
  <div fxLayout="row" fxLayoutGap="15px">
    <mat-card>
      <mat-card-title>Test</mat-card-title>
      <mat-card-content
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odio
        repellat amet ipsa? Voluptates neque qui placeat quam nemo atque autem
        sint, quis odit doloremque ab nisi quod facere veniam.</mat-card-content
      >
    </mat-card>
    <mat-card>
      <mat-card-title>Test</mat-card-title>
      <mat-card-content
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odio
        repellat amet ipsa? Voluptates neque qui placeat quam nemo atque autem
        sint, quis odit doloremque ab nisi quod facere veniam.</mat-card-content
      >
    </mat-card>
  </div>
</section>
