<footer class="container">
  <br />
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
    <a href="https://www.facebook.com/treatwisely" target="_blank" mat-mini-fab>
      <fa-icon [icon]="fb"></fa-icon>
    </a>
    <a
      href="https://www.instagram.com/treat_wisely/"
      target="_blank"
      mat-mini-fab
    >
      <fa-icon [icon]="insta"></fa-icon>
    </a>
    <a href="mailTo:treatwisely@gmail.com" target="_blank" mat-mini-fab>
      <fa-icon [icon]="email"></fa-icon>
    </a>
  </div>
</footer>
