<section class="container">
  <br />
  <h2>Slimming friendly treat bags, measured to pleasure.</h2>
  <br />
  <div
    fxLayout="row wrap"
    fxLayout.md="row nowrap"
    fxLayout.lg="row nowrap"
    fxLayoutGap="15px"
  >
    <mat-card fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
      <mat-card-title>Large Bag</mat-card-title>
      <mat-card-subtitle>£1.50 (Totalling daily allowance)</mat-card-subtitle>
      <img src="../../assets/homepage.jpg" mat-card-image />
      <mat-card-content
        >Bags made up to suit your dietary requirements and
        tastes.</mat-card-content
      >
    </mat-card>
    <div fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
      <h3>
        How to order?
      </h3>
      <p>
        To order please contact us via our
        <a
          href="https://www.facebook.com/treatwisely"
          class="link"
          target="_blank"
          >Facebook</a
        >,
        <a
          href="https://www.instagram.com/treat_wisely/"
          class="link"
          target="_blank"
          >Instagram</a
        >
        or message us via the
        <a routerLink="/contact" class="link">contact form!</a>
      </p>

      <div class="quote">
        <blockquote>
          <p>
            Just received my second order of treat bags and as before they are
            fab, such a mixture of bits, and well colour coded 😉 the girls also
            wrote me a lovely little message in the box as I'm nearly at my
            target 😊 lovely unexpected personal touch! Thanks again! Xx
          </p>
          <cite>Happy Customer</cite>
        </blockquote>
      </div>
    </div>
  </div>
</section>
