<section class="container">
  <br />
  <h2>Slimming friendly treat bags, measured to pleasure.</h2>
  <br />
  <div fxLayout="row">
    <mat-card fxFlex.md="440px" fxFlex.lg="440px">
      <mat-card-title>Latest Offer</mat-card-title>
      <mat-card-subtitle>WAS £2 NOW £1.50 each</mat-card-subtitle>
      <img src="../../assets/homepage.jpg" mat-card-image />
      <mat-card-content
        >Bags made up to suit your dietary requirements and
        tastes.</mat-card-content
      >
    </mat-card>
  </div>
</section>
