<section class="container">
  <br />
  <h2>Slimming friendly treat bags, measured to pleasure.</h2>
  <br />
  <div
    fxLayout="row wrap"
    fxLayout.md="row nowrap"
    fxLayout.lg="row nowrap"
    fxLayoutGap="15px"
  >
    <mat-card fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
      <mat-card-title>Large Bag</mat-card-title>
      <mat-card-subtitle>£1.50 (Totalling daily allowance)</mat-card-subtitle>
      <img src="../../assets/homepage.jpg" mat-card-image />
      <mat-card-content
        >Bags made up to suit your dietary requirements and
        tastes.</mat-card-content
      >
    </mat-card>
    <div
      fxLayout="column"
      fxFlex.sm="100%"
      fxFlex.md="50%"
      fxFlex.lg="50%"
      fxFlex.xl="50%"
    >
      <br fxShow fxHide.md fxHide.lg fxHide.xl />
      <h3>
        How to order?
      </h3>
      <p>
        To order please contact us via our
        <a
          href="https://www.facebook.com/treatwisely"
          class="link"
          target="_blank"
          >Facebook</a
        >,
        <a
          href="https://www.instagram.com/treat_wisely/"
          class="link"
          target="_blank"
          >Instagram</a
        >
        or message us via the
        <a routerLink="/contact" class="link">contact form!</a>
      </p>
      <mat-divider></mat-divider>
      <div>
        <br />
        <div
          class="fb-post"
          data-href="https://www.facebook.com/sid.ali.509/posts/3355789641114398"
          data-show-text="true"
          data-width=""
        >
          <blockquote
            cite="https://developers.facebook.com/sid.ali.509/posts/3355789641114398"
            class="fb-xfbml-parse-ignore"
          >
            <p>
              Amazing customer service. Brilliant and prompt delivery, yummy
              sweets to satisfy my sweet tooth, catered to my vegetarian diet.
              all on plan too!! Thank you.
            </p>
            Posted by <a href="#" role="button">Sid Ali</a> on&nbsp;<a
              href="https://developers.facebook.com/sid.ali.509/posts/3355789641114398"
              >Saturday, 7 March 2020</a
            >
          </blockquote>
        </div>
        <br />
        <div
          class="fb-post"
          data-href="https://www.facebook.com/becka.bungay/posts/10157465448354064"
          data-show-text="true"
          data-width=""
        >
          <blockquote
            cite="https://developers.facebook.com/becka.bungay/posts/10157465448354064"
            class="fb-xfbml-parse-ignore"
          >
            <p>
              just recieved my first order from Treat Wisely....nothing but good
              things to say. brilliant communication, speedy...
            </p>
            Posted by <a href="#" role="button">Becka Bungay</a> on&nbsp;<a
              href="https://developers.facebook.com/becka.bungay/posts/10157465448354064"
              >Saturday, 8 February 2020</a
            >
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
