<br />
<section class="container">
  <mat-card fxFlex.md="600px" fxFlex.lg="600px">
    <mat-card-title>Contact Us!</mat-card-title>
    <form fxLayout="column" fxLayoutGap="15px">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter Your Name..." />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Your Email..." />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Enter A Message..."></textarea>
      </mat-form-field>
      <button class="submit" color="accent" mat-raised-button>Send!</button>
    </form>
  </mat-card>
</section>
